<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>

    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />


    <!-- Los proximos 3 links se obtuvieron de google fonts para poder usar roboto-->
       <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

<!-- Recomendable poner el link de styles hasta el final-->
<link rel="stylesheet" href="static/css/styles.css">
</head>



<body>
    <header>
        <section class="barraLogo">
        <p class="logo"><img src="static/images/logo-mercado-liebre.svg"/></p>
        <div class="barra" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p class="compraCuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        
    <nav>
        <nav class="nav1">
            <p><a href='/'>Ofertas</a></p>
            <p><a href='#'>Tiendas oficiales</a></p>
            <p><a href='#'>Vender</a></p>
            <p><a href='#'>Ayuda</a></p>
        </nav>
        <nav class="nav2">
            <div><a href='/Register'>Crea tu cuenta</a>
            <span class="iconoCuenta"><i class="far fa-address-card"></i></span>
            </div>
            
            <div><a href='/login'>Ingresa</a>
                <i class="fas fa-sign-in-alt"></i>
            </div>
            <div><a href='#'>Mis compras</a><i class="fas fa-shopping-basket"></i></div>
        
        </nav>
        </nav>

        <div class="menu">
            <i class="fas fa-bars"></i>
            
        </div>
    </header>

    <section><img src="static/images/img-home-banner.jpg"alt="banner"></section>
   
   
    <main>
        <h3>Basado en tu última visita</h3>
        <section>
        <p><img src="static/images/img-cafetera-moulinex.jpg"/></p>
        <section class="mora">
        <i class="fas fa-truck"></i>
        <p class="precio">$6.77</p>
        <p class="descuento">40% OFF</p>
        <p class="descripcion"><strong>Moulinex</strong> </p>
        </section>
        </section>

        <section>
        <img src="static/images/img-macbook-pro-2019.jpg"/>
        <section class="mora">
        <i class="fas fa-truck"></i>
        <p class="precio">$230.00</p>
        <p class="descuento">20% OFF</p>
        <p class="descripcion"><strong>MacBook Pro 2019</strong> </p>
        </section>
        </section>  

        <section>
        <img src="static/images/img-samsung-galaxy-s10.jpg"/>
        <section class="mora">
        <i class="fas fa-truck"></i>
        <p class="precio">$70.5</p>
        <p class="descuento">10% OFF</p>
        <p class="descripcion"><strong>Samsung Galaxy S10</strong> </p>
        </section>
        </section>

        <section>
        <img src="static/images/img-tv-samsung-smart.jpg"/>
        <section class="mora">
        <i class="fas fa-truck"></i>
        <p class="precio">$23.2</p>
        <p class="descuento">5% OFF</p>
        <p class="descripcion"><strong>SmartTv Samsung 43</strong> </p>
        </section>
        </section>

        


        <h3>Ofertas</h3>

        <section>
        <img src="static/images/img-cafetera-moulinex.jpg"/>
        <section class="mora">
        <i class="fas fa-truck"></i>
        <p class="precio">$6.77</p>
        <p class="descuento">40% OFF</p>
        <p class="descripcion"><strong>Moulinex</strong> </p>
        </section>
        </section>

        <section>
        <img src="static/images/img-macbook-pro-2019.jpg"/>
        <section class="mora">
        <i class="fas fa-truck"></i>
        <p class="precio">$230.00</p>
        <p class="descuento">20% OFF</p>
        <p class="descripcion"><strong>MacBook Pro 2019</strong> </p>
        </section>
        </section>

        <section>
        <img src="static/images/img-samsung-galaxy-s10.jpg"/>
        <section class="mora">
        <i class="fas fa-truck"></i>
        <p class="precio">$70.5</p>
        <p class="descuento">10% OFF</p>
        <p class="descripcion"><strong>Samsung Galaxy S10</strong> </p>
        </section>
        </section>

        <section>
        <img src="static/images/img-tv-samsung-smart.jpg"/>
        <section class="mora">
        <i class="fas fa-truck"></i>
        <p class="precio">$23.2</p>
        <p class="descuento">5% OFF</p>
        <p class="descripcion"><strong>SmartTv Samsung 43</strong> </p>
        </section>
        </section>

    </main>



    <footer>
        <div class="tarjeta">
        <div class="iconoTarjeta">
            <i class="fas fa-credit-card"></i>
        </div>
        <strong>Pagá con tarjeta o en efectivo</strong>
        <p>Con MercadoLiebreCash tenés cuotas sin<br>
        interés con tarjeta o efectivo en puntos de <br>
        pago. ¡Y siempre es seguro!</p>
    </div>

    <div class="regalo">
        <div class="iconoRegalo">
            <i class="fas fa-gift"></i>
        </div>
        <strong>Envío gratis desde los $2.5</strong>
        <p>Solo por estar registrado en Mercado Liebre<br>
        tenés envíos gratis en miles de productos. Es <br>
        un beneficio de Mercado Puntos.</p>
    </div>

    <div class="usuario">
        <div class="iconoUsuario">
            <i class="fas fa-user-shield"></i>
        </div>
        <strong>Seguridad de principio a fin</strong>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre<br>
        no hay nada que no puedas hacer porque estás <br>
        siempre protegid@.</p>
    </div>
        <br><br>
        <p class="Copyright"><em>Copyright</em> C 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
</body>
</html>